body{ 
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);


    
}
main{
    width: 100%;
    padding-top: 5em;
}



.inner-container{
    background-color: hsl(0, 0%, 100%);
    border:20px solid transparent;
    border-radius: 15px;
    position: relative;
    max-width: 20em;
    margin: auto;
    
    


}
img{
    max-width: 100%;
    border-radius: 3%;
    
}
h1{
    color: hsl(218, 44%, 22%) ;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    font-weight:700;
    
}
p{
    font-size: 0.94rem;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.description{
    text-align: center;
}






@media only screen and (min-width: 1535px){
    .inner-container {

         max-width: 30em;
         max-height: fit-content;
         
     }
 }







